@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    user-select: none;
    
}
body{
    background: #3f6df5;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

}
.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 5px 12px 1px #3c3c3c;
}
h2{
    font-size: 24pt;
    color: #3f6df5;
    padding: 15px;
}

.btnStart, .btnRules, .btnRestart,
.btnRestartTentativas{
    width: 180px;
    height: 55px;
    background: #3f6df5;
    color: #fff;
    font-size: 14pt;
    font-weight: 500;
    border: 3px solid #3f6df5;
    border-radius: 8px;
    box-shadow: 0px 2px 6px #3c3c3c;
    cursor: pointer;
    transition: .5s;
}
.btnStart:hover{
    background: #fff;
    color: #3f6df5;
    border: 3px solid #3f6df5;
    transform: scale(1.1);
}
.btnRules:hover{
    background: #fff;
    color: #3f6df5;
    border: 3px solid #3f6df5;
    }
.rules{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 5px 12px 1px #3c3c3c;
}
.rules span{
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 10px;
}
.main{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 2px 6px #3c3c3c;
    padding: 3% 6%;
    border-radius: 8px;
}
.main h2{
    font-size: 40pt;
}
h3{
    font-size: 20pt;
    color: #2d5dec;
    margin-bottom: 15px;
}
.main input{
    padding: 15px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #3f6df5;
    font-size: 14pt;
    font-weight: 500;
}
.main input::placeholder{
    font-size: 11pt;
}
.tentativa{
    width: 230px;
    height: 55px;
    background: #3f6df5;
    color: #fff;
    font-size: 14pt;
    font-weight: 500;
    border: 3px solid #3f6df5;
    border-radius: 8px;
    box-shadow: 0px 2px 6px #3c3c3c;
    margin: 20px 0;
    cursor: pointer;
    transition: .5s;
}
.tentativa:hover{
    background: #2b2b2c;
    color: #ec4f4f;
    border: 2px solid #f53c3c;
}
.dica{
    font-size: 18pt;
    font-weight: 700;
    color: #f53c3c;
    margin-top: 10px;
    padding: 0px 25px;
}
.victory{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 2px 6px #3c3c3c;
    border-radius: 8px;
    padding: 15px;
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 10px;
}
.victory h2{
    font-size: 42pt;
}
.victory span{
    padding: 4px 25px;
    font-size: 14pt;
    font-size: 500;
}
.btnRestart{
    margin: 20px;
}
.btnRestartTentativas{
    margin-top: 15px;
}



input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

@media(max-width:790px) {
    .start{
    width: 60vw;
    height: 45vh;
    }
    h2{
    font-size: 26pt;
    color: #3f6df5;
    padding: 15px;
    }
    .btnStart{
    width: 160px;
    height: 55px;
    }
}

@media(max-width:400px) {
    .main{
        padding: 10% 5%;
    }
}
